/*_____ CONTACTO _____*/

.bannerContacto{
    @include banner(url(img/fondoContacto.png), cover, center, 70vh)
}
.navbar{
    @include nav(black, 90%, 'Alegreya Sans' sans-serif, 1.2rem)
}
.logo{
    @include img(12rem, 2rem)
}
.formulario{
    padding: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;

    h2{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        
        @media screen and (max-width: 600px){
            margin: 1rem;
            padding: 0px;
        }
    }
}

