/*_____ INDEX _____*/

.banner{
    background-image: linear-gradient(to bottom, transparent, rgba(54, 49, 49, 0.73)),
    url(img/cafeteria.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 2rem;
    

    
    nav{
        @include nav(black, 90%, 'Alegreya Sans' sans-serif, 1.2rem)
    }

    img{
        margin-right: 12rem;
        margin-left: 2rem;
    }

    h1, h2{
        font-family: 'Alegreya Sans', sans-serif;
        text-align: center;
        justify-content:center;
        color: white;
        margin-top: 10rem;
    }

    h1{
        font-size: 3rem;
        font-weight: bold;
    }

    h2{
        margin-top: 0px;
    }
}
.seccion2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;

    h3{
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: bold;
        text-align: center;
    }
}
.seccion3__mapa{
    display:block;
    margin-bottom: 2rem;
}

