/*_____ INDEX _____*/

.banner{
    background-image: linear-gradient(to bottom, transparent, rgb(54, 49, 49)),
    url(img/cafeteria.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 2rem;

    @media all and (max-width: 600px){
        margin-bottom: 1rem;
    }
    
    nav{
        @include nav(black, 90%, 'Alegreya Sans' sans-serif, 1.2rem)
    }

    img{
        margin-right: 12rem;
        margin-left: 2rem;
    }

    h1, h2{
        font-family: 'Alegreya Sans', sans-serif;
        text-align: center;
        justify-content:center;
        color: white;
        margin-top: 14rem;
    }

    h1{
        font-size: 3rem;
        font-weight: bold;

        @media all and (max-width: 600px){
            font-size: 2rem;
        }
    }

    h2{
        margin-top: 0px;

        @media all and (max-width: 600px){
            font-size: 1.5rem;
        }
    }
}
.carousel-inner{

    @media all and (max-width: 600px){
        img{
        width:auto;
        height:auto;
        }
    }
}
.seccion2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;

    h3{
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    @media all and (max-width: 600px) {
        margin-top: 1rem;
        margin-bottom: 1rem;

        p{
          display: none;
        }

        h3{
            font-size: 1rem;
        }

        img{
            padding: 0.5rem
        }
    }
}
.seccion3__mapa{
    display: block;
    margin-bottom: 2rem;
    
    @media all and (max-width: 600px){
        margin-bottom: 1rem;
    }
}
