/*_____ MENU _____*/

.menu{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

    img{
        border-style: double;
        border-width: 1rem;
    }
}
.bannerMenu{

    @include banner(url(img/fondoMenu.png), cover, bottom, 70vh)

    nav{
        @include nav(black, 90%, 'Alegreya Sans' sans-serif, 1.2rem)
    }

    img{
        @include img(12rem, 2rem)
    }
}



