/*_____ MENU _____*/

.bannerMenu{

    @include banner(url(img/fondoMenu.png), cover, bottom, 70vh)
}
.navbar{
    @include nav(black, 90%, 'Alegreya Sans' sans-serif, 1.2rem)
}
.logo{
    @include img(12rem, 2rem)
}
.menu, .combos{
    display: inline-flex;
    width: 32rem;
    text-align: center;
    margin-left: 7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Alegreya Sans', sans-serif;

    img{
        padding: 1rem;
    }

    h2{
        font-weight: bolder;
        text-transform: uppercase;
        padding: 0px;
    }

    @media all and (max-width: 600px){
        width: 15rem;
        display: block;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}



