/*_____ NOSOTROS _____*/

.grillaNos{
    display: grid;
    grid-template-areas: "historia valores"
    "mision vision";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    margin: 2rem;
    font-family: 'Alegreya Sans', sans-serif;

    p{
        text-align: center;
    }

    p ol{
        font-size: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    h2{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.5rem;
        padding: 0px;
    }

    h3{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    @media all and (max-width: 600px){
        display: block;
        font-size: 1rem;
    }
}
.historia{
grid-area: historia;
}
.valores{
grid-area: valores;
list-style:circle;
}

.mision{
grid-area: mision;
}
.vision{
grid-area: vision;
}
.bannerNosotros{
   
    @include banner(url(img/fondoNosotros.png), cover, bottom, 70vh)

    nav{
        @include nav(black, 90%, 'Alegreya Sans' sans-serif, 1.2rem)
    }

    img{
        @include img(12rem, 2rem)
    }
}

