/*_____ HEADER _____*/
* {
  padding: 0px;
  margin: 0px;
}

.nav-item a {
  text-decoration: inherit;
  color: white;
}

#navbarNav ul :hover {
  color: #F29F05;
}

.navbar-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .navbar-center {
    position: inherit;
    left: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }
}

.d-flex button {
  color: white;
  margin-right: 2rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    padding-left: 2rem;
  }
}

/*_____ INDEX _____*/
.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#363131)), url(img/cafeteria.jpg);
  background-image: linear-gradient(to bottom, transparent, #363131), url(img/cafeteria.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 2rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .banner {
    margin-bottom: 1rem;
  }
}

.banner nav {
  background-color: black;
  opacity: 90%;
  font-family: "Alegreya Sans" sans-serif;
  font-size: 1.2rem;
}

.banner img {
  margin-right: 12rem;
  margin-left: 2rem;
}

.banner h1, .banner h2 {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 14rem;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .banner h1 {
    font-size: 2rem;
  }
}

.banner h2 {
  margin-top: 0px;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .banner h2 {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .carousel-inner img {
    width: auto;
    height: auto;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .carousel-inner img {
    width: auto;
    height: auto;
  }
}

.seccion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

.seccion2 h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .seccion2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .seccion2 p {
    display: none;
  }
  .seccion2 h3 {
    font-size: 1rem;
  }
  .seccion2 img {
    padding: 0.5rem;
  }
}

.seccion3__mapa {
  display: block;
  margin-bottom: 2rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .seccion3__mapa {
    margin-bottom: 1rem;
  }
}

/*_____ NOSOTROS _____*/
.bannerNosotros {
  background-image: url(img/fondoNosotros.png);
  background-size: cover;
  background-position: bottom;
  min-height: 70vh;
}

.navbar {
  background-color: black;
  opacity: 90%;
  font-family: "Alegreya Sans" sans-serif;
  font-size: 1.2rem;
}

.logo {
  margin-right: 12rem;
  margin-left: 2rem;
}

.heading {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #F29F05;
  font-size: x-large;
  margin-top: 20%;
  padding: 0.8rem;
  font-weight: bold;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .heading {
    margin-top: 16rem;
  }
}

.grillaNos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "historia valores" "mision vision";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  margin: 2rem;
  font-family: 'Alegreya Sans', sans-serif;
}

.grillaNos p {
  text-align: center;
}

.grillaNos p ol {
  font-size: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.grillaNos h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
}

.grillaNos h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .grillaNos {
    display: block;
    font-size: 1rem;
  }
}

.historia {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: historia;
}

.valores {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: valores;
  list-style: circle;
}

.mision {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mision;
}

.vision {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: vision;
}

/*_____ SERVICIOS _____*/
.bannerServicios {
  background-image: url(img/fondoServicios.png);
  background-size: cover;
  background-position: bottom;
  min-height: 70vh;
}

.navbar {
  background-color: black;
  opacity: 90%;
  font-family: "Alegreya Sans" sans-serif;
  font-size: 1.2rem;
}

.logo {
  margin-right: 12rem;
  margin-left: 2rem;
}

#grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo" "boxes empresas" "numeracion numeracion";
  -ms-grid-rows: 1fr 40fr;
      grid-template-rows: 1fr 40fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  padding-bottom: 3rem;
  font-family: 'Alegreya Sans', sans-serif;
}

#grilla img {
  margin-bottom: 1rem;
}

#grilla h3 {
  font-weight: bold;
  margin-top: 1.5rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  #grilla {
    display: block;
  }
  #grilla img {
    width: 200px;
    height: 200px;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  #grilla img {
    width: 300px;
    height: 300px;
  }
}

.primerTitulo {
  margin-top: 0rem !important;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .primerTitulo {
    margin-top: 1.5rem !important;
  }
}

.descripcion {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .descripcion {
    margin: 2rem;
  }
}

.boxes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: boxes;
  padding-left: 2rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .boxes {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
  }
}

.empresas {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: empresas;
  padding-right: 2rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .empresas {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
  }
}

.boxes, .empresas {
  font-size: 1rem;
  text-align: center;
}

.numeracion {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: numeracion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .numeracion {
    margin-top: 2rem;
  }
}

/*_____ MENU _____*/
.bannerMenu {
  background-image: url(img/fondoMenu.png);
  background-size: cover;
  background-position: bottom;
  min-height: 70vh;
}

.navbar {
  background-color: black;
  opacity: 90%;
  font-family: "Alegreya Sans" sans-serif;
  font-size: 1.2rem;
}

.logo {
  margin-right: 12rem;
  margin-left: 2rem;
}

.menu, .combos {
  width: 30rem;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7vw;
}

.menu img, .combos img {
  padding: 1rem;
}

.menu h2, .combos h2 {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0px;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .menu, .combos {
    width: 20rem;
    display: block;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .menu, .combos {
    width: auto;
  }
}

/*_____ CONTACTO _____*/
.bannerContacto {
  background-image: url(img/fondoContacto.png);
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

.navbar {
  background-color: black;
  opacity: 90%;
  font-family: "Alegreya Sans" sans-serif;
  font-size: 1.2rem;
}

.logo {
  margin-right: 12rem;
  margin-left: 2rem;
}

.formulario {
  padding: 2rem;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}

.formulario h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .formulario h2 {
    margin: 1rem;
    padding: 0px;
  }
}

/*_____ FOOTER _____*/
.grilla2 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "lista1 lista2 lista3" "lista1 lista2 lista3";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2rem;
  background-color: #F29F05;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 20px;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .grilla2 {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .grilla2 {
    font-size: 1rem;
  }
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .grilla2 h5 {
    font-size: 1.1em;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .grilla2 h5 {
    font-size: 1.2rem;
  }
}

.grilla2__lista1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: lista1;
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}

.grilla2__lista1 a {
  color: inherit;
  text-decoration: inherit;
}

.grilla2__lista1 li {
  list-style: none;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .grilla2__lista1 ul {
    padding: 0rem;
    text-align: center;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .grilla2__lista1 {
    margin: 0.5rem;
  }
}

.grilla2__lista2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: lista2;
  font-family: 'Alegreya Sans', sans-serif;
}

.grilla2__lista2 li {
  list-style: none;
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .grilla2__lista2 {
    margin: 0.5rem;
  }
}

.grilla2__lista3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: lista3;
  font-family: 'Alegreya Sans', sans-serif;
}

.grilla2__lista3 a {
  color: inherit;
  font-size: 2rem;
  padding-right: 1rem;
}

.grilla2__lista3 input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.grilla2__lista3 button, .grilla2__lista3 input {
  display: inline-block;
  margin: auto;
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .grilla2__lista3 {
    margin: 0.5rem;
  }
}

.grilla2__lista1--titulo, .grilla2__lista2--titulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.grilla2__lista1--titulo {
  margin-left: 2rem;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .grilla2__lista1--titulo {
    margin: 0rem;
    text-align: center;
    font-size: 1.3rem;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .grilla2__lista1--titulo {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .grilla2__lista2--titulo {
    font-size: 1.3rem;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .grilla2__lista2--titulo {
    font-size: 1.2rem;
  }
}

.modal-header h6 {
  color: black;
}
/*# sourceMappingURL=style.css.map */